*.class
*.DS_Store

/target
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.tomcatplugin
/work/
.settings/org.eclipse.m2e.core.prefs
/.classpath
/.idea/
/.settings/

**/node_modules/
.vscode/

# User uploaded profile photos (but keep the directory structure)
src/main/webapp/resources/core/img/profile_uploads/*
!src/main/webapp/resources/core/img/profile_uploads/.gitkeep

# Old profile uploads directory (if it exists)
profile_uploads/