<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragmento Navbar Conductor</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-unrumbo fixed-top border-bottom">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold text-dark" th:href="@{/conductor/home}">
            <img th:src="@{/img/unrumbo-logo.png}" alt="UnRumbo" width="40" class="me-1">
            <img th:src="@{/img/home.svg}" alt="Home" width="20" class="me-1" style="filter: brightness(0.6) sepia(1) hue-rotate(-25deg) saturate(3);">
            UnRumbo
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavConductor">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavConductor">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold p-2" style="color: #E16A3D;" th:href="@{/viaje/publicar}">
                        <i class="fas fa-route"></i>
                        <span class="d-md-inline ms-1">Publicar Viaje</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold p-2" style="color: #E16A3D;" th:href="@{/viaje/listar}">
                        <i class="fas fa-list-alt"></i>
                        <span class="d-md-inline ms-1">Mis Viajes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold p-2" style="color: #E16A3D;" th:href="@{/vehiculos/listarVehiculos}">
                        <i class="fas fa-car"></i>
                        <span class="d-md-inline ms-1">Mis Vehículos</span>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">

                <li class="nav-item me-1 mt-md-0 mt-2">
                    <a class="nav-link p-2" th:href="@{/notificaciones/historial}" id="notificacion-campana" style="color: #E16A3D; position: relative; display: inline-block;">
                        <i class="fas fa-bell fa-lg"></i>
                        <span id="notificacion-contador" class="badge rounded-pill bg-danger"
                              style="position: absolute; top: -5px; right: -8px; font-size: 0.65rem; min-width: 18px; height: 18px; display: none; padding: 2px 5px;">
                            0
                        </span>
                        <span class="d-md-none ms-2">Notificaciones</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bold p-2" style="color: #4E3D2F;" th:href="@{/conductor/perfil}">
                        <i class="fas fa-user-circle fa-lg"></i>
                        <span class="d-md-none ms-1">Perfil</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>