<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragmento Navbar Viajero</title>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-unrumbo fixed-top border-bottom">
    <div class="container-fluid">

        <a class="navbar-brand fw-bold text-dark" th:href="@{/viajero/home}">
            <img th:src="@{/img/unrumbo-logo.png}" alt="UnRumbo" width="40" class="me-2">
            <img th:src="@{/img/home.svg}" alt="Home" width="20" class="me-1" style="filter: brightness(0.6) sepia(1) hue-rotate(-25deg) saturate(3);">
            UnRumbo
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavViajero">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavViajero">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold" style="color: #E16A3D;" th:href="@{/viaje/buscar}">
                        <i class="fas fa-search me-1"></i>
                        <span class="d-none d-lg-inline">Buscar Viaje</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" style="color: #E16A3D;" th:href="@{/reserva/misReservasActivas}">
                        <i class="fas fa-clock me-1"></i>
                        <span class="d-none d-lg-inline">Reservas Pendientes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" style="color: #E16A3D;" th:href="@{/reserva/misViajes}">
                        <i class="fas fa-list-alt me-1"></i>
                        <span class="d-none d-lg-inline">Mis Viajes</span>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item me-3">
                    <a class="nav-link" th:href="@{/notificaciones/historial}" id="notificacion-campana" style="color: #E16A3D;">
                        <i class="fas fa-bell fa-lg"></i>
                        <span id="notificacion-contador" class="badge rounded-pill bg-danger"
                              style="position: absolute; top: 5px; right: 0px; display: none;">
                            0
                    </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bold" style="color: #4E3D2F;" th:href="@{/viajero/perfil}">
                        <i class="fas fa-user me-1 d-lg-none"></i>
                        <span class="d-none d-lg-inline">VIAJERO</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>